#  Copyright © 2024 te4gh0st (Vitaliy Timtsurak). All rights reserved.
#  Licensed under the Apache License, Version 2.0

TOKEN=
WEBHOOK_ACTIVE=0
WEBHOOK_HOST=https://domain.ru
WEBHOOK_PATH=/webhook-tk
WEBAPP_HOST=localhost
WEBAPP_PORT=3001
ADMIN_ID=12345566